<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brightspace</title>
    <link rel="stylesheet" href="style1.css">
</head>



<body>
    <div class="body">
        <div class="header"></div>


        <div class="nyuWrapper">
            <img src="images/1-NYU.png" alt="" width="130">
        </div>

        <div class="navbarAWrapper">
            <img src="images/2-navbar1.png" alt="" width="29">
        </div>

        <div class="dotsWrapper">
            <img src="images/8-dots.png" alt="" width="18">
        </div>

        <div class="navbarBWrapper">
            <img src="images/3-navbar2.png" alt="" width="32">
        </div>

        <div class="navbarCWrapper">
            <img src="images/4-navbar3.png" alt="" width="34">
        </div>

        <div class="navbarDWrapper">
            <img src="images/5-navbar4.png" alt="" width="35">
        </div>

        <div class="dots2Wrapper">
            <img src="images/8-dots.png" alt="" width="18">
        </div>

        <div class="navbarEWrapper">
            <img src="images/6-navbar5.png" alt="" width="100">
        </div>

        <div class="navbarFWrapper">
            <img src="images/7-navbar6.png" alt="" width="33">
        </div>


        <div class="border1"></div>

        <div class="contents">
            <p>Calendar</p>
            <p>Announcements</p>
            <p>NYU Bookstore</p>
            <p>Help</p>
            <p>Course Feedback</p>
        </div>

        <div class="border2"></div>
    </div>

    <div class="welcome">
        <img src="images/9-welcome.png" alt="" width="1167">
    </div>

    <div class="under">
        <div class="courses">
            <div class="mycourses">
                <p style="font-size: 14.4px; font-weight: bold;">My Courses</p>
            </div>

            <div class="terms">
                <div class="term">
                    <p style="font-size: 14.4px" class="termtexts">All</p>
                </div>

                <div class="thisspring">
                    <p style="font-size: 14.4px">2026 Spring</p>
                </div>

                <div class="term">
                    <p style="font-size: 14.4px" class="termtexts">2026 J-Term</p>
                </div>

                <div class="term">
                    <p style="font-size: 14.4px" class="termtexts">2025 Spring</p>
                </div>

                <div class="term">
                    <p style="font-size: 14.4px" class="termtexts">2025 Fall</p>
                </div>

                <div class="term">
                    <p style="font-size: 14.4px" class="termtexts">2024</p>
                </div>
            </div>

            <div class="firstcourses">
                <div class="course1">
                    <img src="images/10-training.png" alt="" width="245" class="course1image">
                    <div class="course1text">
                        <a href="j(why-tho).html"><p>NYU Active Threat Preparedness Training for local AD & SH</p></a>

                    </div>
                    <div class="course1code">
                        <p style="font-size: 12.5px; color: rgb(76, 79, 80); line-height: 20px">
                            J26_SP26_ATPT_1_100 · 2026 J-Term
                        </p>
                    </div>
                </div>

                <div class="course2">
                    <img src="images/11-media.png" alt="" width="245" class="course2image">
                    <div class="course2text">
                        <a href="j(why-tho).html"><p>The Media in China</p></a>
                    </div>
                    <div class="course2code">
                        <p style="font-size: 12.5px; color: rgb(76, 79, 80); line-height: 20px">
                            SP26_GCHN-SHU_126_SH_001_CRSE · 2026 Spring
                        </p>
                    </div>
                    <div class="course2message">
                        <img src="images/12-99+.png" alt="" width="43">
                    </div>
                </div>
            </div>

            <div class="lastcourses">
                <div class="course3">
                    <img src="images/13-psych.png" alt="" width="245" class="course2image">
                    <div class="course3text">
                        <a href="j(why-tho).html"><p>Introduction to Psychology</p></a>
                    </div>
                    <div class="course3code">
                        <p style="font-size: 12.5px; color: rgb(76, 79, 80); line-height: 20px">
                            SP26_PSYC-SHU_101_SH_001_CRSE · 2026 Spring
                        </p>
                    </div>
                </div>

                <div class="course4">
                    <img src="images/14-infotech.png" alt="" width="245" class="course2image">
                    <div class="course4text">
                        <a href="j(why-tho).html"><p>Information Technology in Business & Society</p></a>
                    </div>
                    <div class="course4code">
                        <p style="font-size: 12.5px; color: rgb(76, 79, 80); line-height: 20px">
                            SP26_BUSF-SHU_142_SH_001_CRSE · 2026 Spring
                        </p>
                    </div>
                </div>
            </div>
            <div class="view">
                <p style="color: rgb(2, 111, 191);">View All Courses (4)</p>
            </div>
        </div>


        <div class="others">
            <div class="others1">
                <div class="worktodo">
                    <p style="font-size: 14.4px; font-weight: bold">Work To Do</p>
                </div>
                <div class="overdue">
                    <p style="font-size: 18px; font-weight: bold">Overdue</p>
                </div>
                <div class="overdueborder"></div>
                <div class="overdue1">
                    <img src="images/15-overdue.png" alt="" width="29px;" class="overdueimage">
                    <div class="overduetext">
                        <a href="j(why-tho).html"><p style="font-size: 14.4px" class="ED">ED1A4: Group Experiment</p></a>
                    </div>
                    <div class="duedate">
                        <p style="font-size: 12.6px; color: rgb(76, 79, 80)">Due Feb 9 · Introduction to Psychology</p>
                    </div>
                </div>
                <div class="todo">
                    <p style="font-size: 18px; font-weight: bold">March12 - March24</p>
                </div>
                <div class="todoborder"></div>
                <div class="todo1">
                    <img src="images/15-overdue.png" alt="" width="29px;" class="overdueimage">
                    <div class="overduetext">
                        <a href="j(why-tho).html"><p style="font-size: 14.4px">ED3A4: Statistical Report</p></a>
                    </div>
                    <div class="duedate">
                        <p style="font-size: 12.6px; color: rgb(76, 79, 80)">Due Mar 14 · Introduction to Psychology</p>
                    </div>
                </div>
                <div class="todo2">
                    <img src="images/16-todo.png" alt="" width="29px;" class="todoimage">
                    <div class="overduetext">
                        <a href="j(why-tho).html"><p style="font-size: 14.4px">Weekly Reading Quiz 7 - Chapter 9</p></a>
                    </div>
                    <div class="duedate">
                        <p style="font-size: 12.6px; color: rgb(76, 79, 80)">Due Mar 14 · Introduction to Psychology</p>
                    </div>
                </div>
                <div class="todo3">
                    <img src="images/16-todo.png" alt="" width="29px;" class="todoimage">
                    <div class="overduetext">
                        <a href="j(why-tho).html"><p style="font-size: 14.4px">Weekly Reading Quiz 8 - Chapter 10</p></a>
                    </div>
                    <div class="duedate">
                        <p style="font-size: 12.6px; color: rgb(76, 79, 80)">Due Mar 21 · Introduction to Psychology</p>
                    </div>
                </div>
                <div class="todo4">
                    <img src="images/15-overdue.png" alt="" width="29px;" class="todoimage">
                    <div class="overduetext">
                        <a href="j(why-tho).html"><p style="font-size: 14.4px" class="ED">ED3A5: ED4 Topic & Article Selection</p></a>
                    </div>
                    <div class="duedate">
                        <p style="font-size: 12.6px; color: rgb(76, 79, 80)">Due Mar 22 · Introduction to Psychology</p>
                    </div>
                </div>
            </div>

            <div class="others2">
                <div class="announcements">
                    <p style="font-size: 14.4px; font-weight: bold;">Announcements</p>
                </div>
                <img src="images/17-announcements.png" alt="" width="510" class="announcementsimages">
            </div>

            <div class="others3">
                <div class="calendar">
                    <p style="font-size: 14.4px; font-weight: bold;">Calendar</p>
                </div>
                <img src="images/18-calendar.png" alt="" width="510" class="calendarimage">
            </div>
        </div>
    </div>

     <br><br><br>

    <div class="endimage">
        <img src="images/n-end.png" alt="" width="235">
    </div>

</body>

</html>