<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advances Existential Maintenance</title>
    <link rel="stylesheet" href="style6.css">
</head>



<body>
    <div class="body">
        <div class="header"></div>


        <div class="nyuWrapper">
            <img src="images/23-shanzhaiNYU.png" alt="" width="130">
        </div>

        <div class="navbarWrapper">
            <div class="navbars">
                <div class="navbarAWrapper">
                    <img src="images/24-navbar1.png" alt="" width="40">
                </div>

                <div class="navbarBWrapper">
                    <img src="images/25-navbar2.png" alt="" width="45">
                </div>

                <div class="navbarCWrapper">
                    <img src="images/26-navbar3.png" alt="" width="45">
                </div>

                <div class="navbarDWrapper">
                    <img src="images/27-navbar4.png" alt="" width="43">
                </div>

                <div class="navbarEWrapper">
                    <img src="images/28-navbar5.png" alt="" width="45">
                </div>

                <div class="navbarFWrapper">
                    <img src="images/29-navbar6.png" alt="" width="45">
                </div>
            </div>
        </div>

        <div class="border1"></div>

        <div class="contents">
            <p>Calendar</p>
            <p>Announcements</p>
            <p>NYU Bookstore</p>
            <p>Help</p>
            <p>Course Feedback</p>
        </div>

        <div class="border2"></div>
    </div>

    <div class="welcomeWrapper">
        <div class="welcome">
            <p>Welcome to BrightEscape, Nina</p>
        </div>
    </div>

    <div class="under">
        <div class="courses">
            <div class="mycourses">
                <p style="font-size: 14.4px; font-weight: bold;">Table of Contents</p>
            </div>

            <!-- <div class="terms">
                <div class="term">
                    <p style="font-size: 14.4px" class="termtexts">All</p>
                </div>

                <div class="thisspring">
                    <p style="font-size: 14.4px">2026 Spring</p>
                </div>

                <div class="term">
                    <p style="font-size: 14.4px" class="termtexts">2026 J-Term</p>
                </div>

                <div class="term">
                    <p style="font-size: 14.4px" class="termtexts">2025 Spring</p>
                </div>

                <div class="term">
                    <p style="font-size: 14.4px" class="termtexts">2025 Fall</p>
                </div>

                <div class="term">
                    <p style="font-size: 14.4px" class="termtexts">2024</p>
                </div>
            </div> -->

            <div class="firstcourses">
                <div class="course1">
                    <img src="images/21-existential.png" alt="" width="245" class="course1image">
                    <div class="course1text">
                        <a href="">
                            <p>Breathing In, Breathing Out, Postponing All Crises</p>
                        </a>
                    </div>
                    <div class="completion"></div>
                    <div class="topic">
                        <p>50/Endless Topics Completed</p>
                    </div>
                </div>

                <div class="course2">
                    <img src="images/21-existential.png" alt="" width="245" class="course2image">
                    <div class="course2text">
                        <a href="">
                            <p>Staring Into the Void (Intermediate Level)</p>
                        </a>
                    </div>
                    <div class="completion"></div>
                    <div class="topic">
                        <p>10/As Much As You Want Topics Completed</p>
                    </div>
                </div>
            </div>

            <div class="lastcourses">
                <div class="course3">
                    <img src="images/21-existential.png" alt="" width="245" class="course2image">
                    <div class="course3text">
                        <a href="">
                            <p>Observing Your Thoughts Without Replying to Them</p>
                        </a>
                    </div>
                    <div class="completion"></div>
                    <div class="topic">
                        <p>128/5000 Topics Completed</p>
                    </div>
                </div>

                <div class="course4">
                    <img src="images/21-existential.png" alt="" width="245" class="course2image">
                    <div class="course4text">
                        <a href="">
                            <p>Reinstalling Your Sense of Purpose</p>
                        </a>
                    </div>
                    <div class="completionnone"></div>
                    <div class="topic">
                        <p>0/0 Topics Completed</p>
                    </div>
                </div>
            </div>
            <div class="view">
                <p style="color: rgb(217, 198, 242);">View All</p>
            </div>
        </div>


        <div class="others">
            <div class="others1">
                <div class="worktodo">
                    <p style="font-size: 14.4px; font-weight: bold">Work To Do</p>
                </div>
                <div class="overdue">
                    <p style="font-size: 18px; font-weight: bold">Overdue</p>
                </div>
                <div class="overdueborder"></div>
                <div class="overdue1">
                    <img src="images/15-overdue.png" alt="" width="29px;" class="overdueimage">
                    <div class="overduetext">
                        <a href="j(why-tho).html">
                            <p style="font-size: 14.4px" class="ED">Have Some Well-deserved Rest</p>
                        </a>
                    </div>
                    <div class="duedate">
                        <p style="font-size: 12.6px; color: rgb(130, 130, 130)">Due Ever Since 2012 (When You Entered
                            the
                            Chinese School System) · Your Life</p>
                    </div>
                </div>
                <div class="todo">
                    <p style="font-size: 18px; font-weight: bold">While You're Still Breathing</p>
                </div>
                <div class="todoborder"></div>
                <div class="todo1">
                    <img src="images/15-overdue.png" alt="" width="29px;" class="overdueimage">
                    <div class="overduetext">
                        <a href="j(why-tho).html">
                            <p style="font-size: 14.4px">Touch Grass</p>
                        </a>
                    </div>
                    <div class="duedate">
                        <p style="font-size: 12.6px; color: rgb(130, 130, 130)">Due Whenever Your Brain Can't Take It No
                            More · Advanced Existential Maintenance</p>
                    </div>
                </div>
                <div class="todo2">
                    <img src="images/16-todo.png" alt="" width="29px;" class="todoimage">
                    <div class="overduetext">
                        <a href="j(why-tho).html">
                            <p style="font-size: 14.4px">SLEEP!!! YOU NEED IT!!!</p>
                        </a>
                    </div>
                    <div class="duedate">
                        <p style="font-size: 12.6px; color: rgb(130, 130, 130)">Due Everyday Before 00:00 If You Don't
                            Want
                            To Die · Introduction to Micro-Napping</p>
                    </div>
                </div>
                <div class="todo3">
                    <img src="images/16-todo.png" alt="" width="29px;" class="todoimage">
                    <div class="overduetext">
                        <a href="j(why-tho).html">
                            <p style="font-size: 14.4px">Lunch with That One Friend You Haven't Seen in a Month</p>
                        </a>
                    </div>
                    <div class="duedate">
                        <p style="font-size: 12.6px; color: rgb(130, 130, 130)">Due Before You Forget that Y'all were
                            Friends · Hanging Out with Your Buddies 101</p>
                    </div>
                </div>
                <div class="todo4">
                    <img src="images/15-overdue.png" alt="" width="29px;" class="todoimage">
                    <div class="overduetext">
                        <a href="j(why-tho).html">
                            <p style="font-size: 14.4px" class="ED">Sitting Around</p>
                        </a>
                    </div>
                    <div class="duedate">
                        <p style="font-size: 12.6px; color: rgb(130, 130, 130)">Due Whenever You Feel Like It · How to
                            Do
                            Nothing</p>
                    </div>
                </div>
            </div>

            <div class="others2">
                <div class="announcements">
                    <p style="font-size: 14.4px; font-weight: bold;">Announcements</p>
                </div>
                <img src="images/17-announcements.png" alt="" width="510" class="announcementsimages">
            </div>

            <div class="others3">
                <div class="calendar">
                    <p style="font-size: 14.4px; font-weight: bold;">Calendar</p>
                </div>
                <img src="images/18-calendar.png" alt="" width="510" class="calendarimage">
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="endimage">
        <img src="images/n1-end.png" alt="" width="235">
    </div>

</body>

</html>