body{
    margin: 0;
    background-color: rgb(87, 6, 140);
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.boxWrapper{
    width: 100%;
    height: 600px;
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.box{
    width: 500px;
    height: 520px;
    background-color: white;
}

.errorWrapper{
    position:relative;
    left: 50px;
    top: 20px;
}

.messageWrapper{
    position:relative;
    left: 50px;
    top: 20px;
}

.messageWrapper p{
    font-size: 18px;
    line-height: 2;
}

.button{
    width: 120px;
    border-radius: 25px;
    background-color: rgb(2, 111, 191);
    text-align: center;
    padding: 1px;
    position:relative;
    left: 45px;
    top: 80px;
}

.button a{
    color: white;
    text-decoration: none;
}

.button a:visited{
    color: white;
    text-decoration: none
}

.button:hover{
    box-shadow: 0 0 10px grey;
}