<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="item">
            <p>ONE</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, alias deserunt assumenda, hic soluta
                quidem nam quod quibusdam omnis molestiae molestias odit? Recusandae similique praesentium quam eveniet,
                sed ad quo.</p>
        </div>

        <div class="item second">
            <p>Two</p>
        </div>

        <div class="item">
            <p>three</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi aperiam, harum ipsa quam fugiat porro
                exercitationem assumenda et earum perferendis voluptatibus error quis doloremque tenetur? Rerum,
                veritatis! Ducimus, quia dicta.</p>
        </div>

        <!-- <div class="item">
            <p>4</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio mollitia necessitatibus corporis
                doloremque! Dignissimos incidunt maiores neque quidem eos similique rerum quis doloremque iure autem
                aspernatur eaque, tempore amet ducimus?</p>
        </div>

        <div class="item">
            <p>FIVE</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eaque delectus nesciunt numquam
                cupiditate eveniet velit debitis reprehenderit nostrum natus at, commodi sunt, officia omnis fugiat,
                tempora perspiciatis explicabo voluptas!</p>
        </div>

        <div class="item">
            <p>six</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium temporibus cupiditate sed illum
                reprehenderit omnis beatae voluptatem corporis et nobis ullam ut architecto, magnam esse aut nemo
                excepturi hic accusamus.</p>
        </div>

        <div class="item">
            <p>SEVEN</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus ipsa ab tempora modi consequatur
                distinctio velit, nam iste dolore libero ducimus sequi doloremque? Culpa nesciunt enim laboriosam
                adipisci dolorum nulla.</p>
        </div> -->
    </div>
</body>

</html>