body{
    background-color: rgb(58, 41, 26);
}

.folklore{
    margin-top: 200px;
    width: 100%;
    text-align: center;
}

.folklore p{
    font-family: "Special Elite", cursive;
    color: blanchedalmond;
    letter-spacing: 3px;
    font-size: 14px;
}

.title{
    margin-top: 45px;
    width: 100%;
    text-align: center;
}

.title p{
    font-size: 60px;
    font-weight: bold;
    line-height: 5px;
    color: blanchedalmond;
}

.introduction{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.introduction p{
    font-family: "Special Elite", cursive;
    color: blanchedalmond;
    letter-spacing: 3px;
    font-size: 14px;
}

.buttonWrapper{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: flex;
    border: 1px solid blanchedalmond;
}

.button a{
    font-family: "Special Elite", cursive;
    color: blanchedalmond;
    letter-spacing: 3px;
    font-size: 14px;
    text-decoration: none;
}

.button a:visited{
    text-decoration: none;
}