body{
    margin: 0px;
    background-color: rgb(253, 245, 212);
}

.empty{
    height: 750px;
    background-color: rgb(253, 245, 212);
    border: 1px grey solid;
}

.flower1{
    position: fixed;
    top: 75px;
    left: 75%;
    z-index: 2;
}

.flower2{
    position: fixed;
    top: 150px;
    left: -12%;
    transform: rotate(30deg);
    z-index: 2;
}

.rebeccaWrapper{
    padding: 0px;
    position: fixed;
    left: 106%;
    top: 220px;
    z-index: 1;
}

.rebeccaWrapper p{
    line-height: 0px;
    font-size: 40px;
}

.trainWrapper{
    padding: 0px;
    position: fixed;
    left: 100%;
    top: 220px;
    z-index: 1;
}

.trainWrapper p{
    font-size: 75px;
    font-weight: bold;
    line-height: 0px;
}