body{
    margin: 0;
    background-color: white;
    transition: background-color 3s;
}

.changeBackground{
    background-color: rgb(33, 53, 85);
}

.textWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 310px;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: color 3s;
}

.changeText{
    color: rgb(245, 239, 231);
}

.sliderWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 320px;
}

.sliderOutside{
    display: flex;
    align-items: center;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    background-color: rgb(190, 190, 190);
    transition: background-color .5s;
}

.changeColor{
    background-color: rgb(79, 112, 156);
}

.sliderInside{
    display: flex;
    margin-left: 3px;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 20px;
    transition: transform .5s;
}

.changePosition{
    transform: translate(29px, 0px);
}

.functionsWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 350px;
}

button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: rgb(195, 168, 149) solid 1px;
    color: rgb(195, 168, 149);
    background-color: rgb(245, 239, 231);
}

.subWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 370px;
}

.snowWrapper{
    margin-right: 20px;
}

.windWrapper{
    margin-left: 20px;
}

.backWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 390px;
}

.back{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: rgb(195, 168, 149) solid 1px;
    color: rgb(195, 168, 149);
    background-color: rgb(245, 239, 231);
}

@keyframes fall{
    to{
        transform: translateY(100vh);
    }
}

.snowflake{
    position: absolute;
    top: -20px;

    animation: fall 3s linear forwards;
}

@keyframes wind {
    0%{ 
        transform: translate(0px, 100vh); 
    }

    25%{ 
        transform: translate(20px, 100vh); 
    }

    50%{ 
        transform: translate(-15px, 100vh); 
    }

    75%{
         transform: translate(10px, 100vh); 
    }

    100%{ 
        transform: translateX(0px, 100vh); 
    }
}

.wind{
    animation: wind 1s ease-in-out forwards;
}
