.buttonWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 320px;
}

button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    border: black solid 1px;
    font-size: 20px;
}

.subWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 370px;
}

.winterWrapper{
    width: 150px;
    height: 30px;
    background-color: rgb(239, 239, 239);
    margin-right: 20px;
    border: black solid 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.springWrapper{
     width: 150px;
    height: 30px;
    background-color: rgb(239, 239, 239);
    margin-left: 20px;
    border: black solid 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}