body{
    margin: 0px;
    background-color: rgb(253, 245, 212);
}

.rebeccaWrapper{
    padding: 0px;
}

.rebeccaWrapper p{
    line-height: 0px;
    font-size: 30px;
}

.trainWrapper{
    padding: 0px;
    transform: translate(1400px, 10px);
    transition: tranform 3s;
}

.trainComes{
    transform: translate(500px, 10px);
}

.trainWrapper p{
    font-size: 50px;
    font-weight: bold;
    line-height: 0px;
}